@use '../../styles/mixins.scss';

.footer {
    padding-block: 5rem;
    background-color: var(--black-olive);
    color: var(--cultured);
    text-align: center;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 4rem 1rem;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 5rem;
        margin: 0 auto 1rem auto;
    }

    p {
        font-size: 1rem;
        margin: 1rem 0;
    }

    h3 {
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    a {
        color: var(--spanish-gray);
        text-transform: uppercase;
        display: block;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        transition: all 0.3s ease;

        &:hover {
            color: var(--cultured);
        }
    }

    &__col:not(:first-child) {
        margin-inline: auto;

        @include mixins.respond(phone) {
            margin: 0;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__icon {
        padding: 0.7rem;
        background-color: var(--black);
        display: grid;
        place-content: center;
        border-radius: 50%;
        border: 1px solid var(--black-olive);
        color: var(--cultured);
        transition: all 0.3s ease;

        &:hover {
            background-color: var(--gradient);
            color: black;
        }
    }
}
